body {
   color: $black;
   margin: 0;
   padding: 0px;
   box-sizing: border-box;
   font-family: $font;
   font-size: 1.2rem;

   @include flexbox {
      flex-direction: column;
   }
}

.button, button {
   outline: none;
   font-family: $font;
   color: $black;
   background-color: $white;
   border: 1px solid $black;
   padding: 0.7rem;
   cursor: pointer;
   transition: 0.5s;
   text-decoration: none;

   &:hover {
      background-color: $white-dark;
      transform: scale(1.05);
   }
}
html {
   scroll-behavior: smooth;
}

.noLinkStyle{
   color: $black;
   text-decoration: none;
}