section {
   max-width: 1000px;
   width: 90vw;
}

.intro {
   min-height: 50vw;
   @include flexbox {
      flex-direction: column;
      align-items: flex-start;
   }
   #video {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0.2;
   }
   @include for-size("bp-down-738") {
      min-height: auto;
      #video {
         display: none;
      }
   }
   &__buttons {
      margin-bottom: 15vw;
      width: 100%;
      @include flexbox {
         flex-direction: row;
         justify-content: flex-start;
         flex-wrap: wrap;
      }
      @include for-size("bp-down-738") {
         margin-bottom: 0;
         @include flexbox {
            justify-content: center;
         }
      }
      .button {
         text-transform: uppercase;
         margin-right: 2rem;
         margin-bottom: 2rem;
         font-size: 1.1rem;
      }
   }
}
header {
   width: 100%;
   background: $white;
   @include flexbox {
      flex-direction: column;
   }
   box-shadow: $shadows;
}
.header {
   width: 90vw;
   max-width: 1000px;
   height: 4rem;
   @include flexbox {
      flex-direction: row;
      justify-content: space-between;
   }
   @include for-size("bp-down-738") {
      display: none;
   }
   &__logo {
      @include flexbox {
         flex-direction: row;
         justify-content: flex-start;
      }
      span {
         font-size: 1.5rem;
         text-transform: uppercase;
         margin-right: 0.5rem;
      }
      #title {
         font-size: 1.3rem;
         font-weight: 600;
         @include for-size("tablet") {
            display: none;
         }
      }
   }

   .nav {
      @include flexbox {
         flex-direction: row;
         justify-content: center;
      }
      li {
         list-style: none;
         transition: 0.5s;
         &:hover {
            transform: scale(1.05);
         }
         a {
            color: $black;
            text-decoration: none;
            margin-right: 0.75rem;
            margin-left: 0.75rem;
         }
      }
   }
   svg {
      height: 1.5rem;
      color: $black;
   }
}

.footer {
   width: 100%;
   background: $white-dark;
   @include flexbox {
      flex-direction: column;
   }
   &__social {
      @include flexbox {
         flex-direction: row;
      }
   }
   a {
      color: $black;
      svg {
         height: 1.5rem;
         margin-left: 0.5rem;
      }
   }
}
