$black: #333;
$white: #FFF;
$white-dark: #e2e2e2;
$brown: #683700;
$grey: #5a5a5a;

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
